Source: libcppassist
Section: misc
Priority: optional
Maintainer: Willy Scheibel <willy.scheibel@cginternals.com>
Build-Depends: build-essential, cmake, doxygen, graphviz
Standards-Version: 3.8.0

Package: libcppassist
Architecture: any
Homepage: https://cppassist.org/
Description: C++ sanctuary for small but powerful and frequently required, stand alone features.

Package: libcppassist-dev
Architecture: any
Depends: libcppassist
Homepage: https://cppassist.org/
Description: C++ sanctuary for small but powerful and frequently required, stand alone features.

Package: libcppassist-docs
Architecture: any
Homepage: https://cppassist.org/
Description: C++ sanctuary for small but powerful and frequently required, stand alone features.

Package: libcppassist-dbg
Architecture: any
Depends: libcppassist, libcppassist-dev
Homepage: https://cppassist.org/
Description: C++ sanctuary for small but powerful and frequently required, stand alone features.

Package: libcppassist-all
Architecture: any
Depends: libcppassist, libcppassist-dev, libcppassist-docs
Homepage: https://cppassist.org/
Description: C++ sanctuary for small but powerful and frequently required, stand alone features.
